/venv/
.idea/
pip-log.txt
pyvenv.cfg
__pycache__/
requirements.txt


# MacOS
.DS_Store

# local env files
#.env.local
#.env.*.local
#.env
#.env.development
#.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# MIGRATIONS
APP_RUN/aerich.ini
APP_RUN/alembic.ini

__migrations/aerich/*
__migrations/migration.log
!__migrations/aerich/.gitkeep

__jsonb_docker_migrations/aerich/*
__jsonb_docker_migrations/migration.log
!__jsonb_docker_migrations/aerich/.gitkeep

__migrations/alembic/*
!__migrations/alembic/.gitkeep

# DOCKER VOLUMES. CL

__docker/volumes/clickhouse/cl_db/*
!__docker/volumes/clickhouse/cl_db/.gitkeep

# DOCKER VOLUMES. KAFKA

__docker/volumes/kafka/k1/*
!__docker/volumes/kafka/k1/.gitkeep

__docker/volumes/kafka/k2/*
!__docker/volumes/kafka/k2/.gitkeep

__docker/volumes/kafka/k3/*
!__docker/volumes/kafka/k3/.gitkeep

__docker/volumes/kafka/zoo/data/*
!__docker/volumes/kafka/zoo/data/.gitkeep

__docker/volumes/kafka/zoo/log/*
!__docker/volumes/kafka/zoo/log/.gitkeep
/MODS/


/data_launch_system/dict_load_xlsx/z_complete/*
/data_launch_system/dict_load_xlsx/a_loads/*
/data_launch_system/first_launch/init_file_a_loads/*
/data_launch_system/first_launch/init_file_z_ok/*

!data_launch_system/dict_load_xlsx/z_complete/.gitkeep
!data_launch_system/dict_load_xlsx/a_loads/.gitkeep
!data_launch_system/first_launch/init_file_a_loads/.gitkeep
!data_launch_system/first_launch/init_file_z_ok/.gitkeep